<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Menu Desktop</title>

  <link rel="stylesheet" href="/Taller 1/components/menu-desktop.css">
</head>

<body>

  <!-- Contenedor del menú -->
  <div class="menu-desktop">

    <!-- Lista del menú -->
    <ul>
      <li>
        <a href="#">My orders</a>
      </li>

      <li>
        <a href="#">My account</a>
      </li>

      <!-- Último elemento (sign out) -->
      <li>
        <a href="#">Sign out</a>
      </li>
    </ul>

  </div>

</body>

</html>